<!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->
<!-- katex math -->
{{ partial "helpers/katex.html" . }}
<style>
  .katex {
    font-size: 31px !important;
  }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
                {left: "$$", right: "$$", display: true},
                {left: "$", right: "$", display: false}
            ]
        });
    });
</script>

<!-- mathjax math -->
<!-- {{ partial "helpers/mathjax.html" . }} -->